@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: lightyellow; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h2 class="display-8">Click below to get started</h2>
    <a href="~/Password/Index">Generate a new random password</a>
</div>

